credentials:
  ${name}:
    default-credential: ${name}_cred
    ${name}_cred:
      auth-type: certificate
      client-cert: |
        ${indent(8, file(client_cert))}
      client-key: |
        ${indent(8, file(client_key))}
      server-cert: |
        ${indent(8, file(server_cert))}
